* {
    color: black;
}

.signIn , .signUp{
    width: 25em;
}

.login-background {
  height: 100vh;
  width: 100vw;
}

.login-container {
    background-color: white;
    width: 50vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.email, .password {
    background-color: white;
    border: none;
    font-size: large ;
    padding-bottom: 3px;
    margin: 5% 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #7F58BB, #C343B4) 1;
    transition: border-bottom 0.1s ease-in;
    display: block;
    width: 100%;
}

.email:focus, .password:focus {
    padding-bottom: 5px;
    outline: none;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #7F58BB, #C343B4) 1;
}

.button, .signin-btn, .signup-btn{
    background: linear-gradient(to right, #7F58BB, #C343B4);
    color: white;
    display: inline-block;
    border-radius: 1px;
    display: block;
    width: 100%;
}