.sidebar {
    width: 5vw;
    height: 100vh;
    background-color: rgb(14, 13, 13);
    border-right: 0.1vw solid #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0;
    gap: 2vw;
}

.sidebar-logo {
    height: 4.5vh;
    width: 2.5vw;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.sidebar-button {
    padding: 0.5vw;
    border-radius: 0.5vw;
    transition: background-color 0.2s;
}

.sidebar-button-active {
    background-color: #e9d5ff;
}

.sidebar-icon {
    width: 1.25vw;
    height: 1.25vw;
}
