* {
    color: black;
}

.signIn , .signUp{
    width: 25em;
}

.background {
  height: 100vh;
  width: 100vw;
}
.container {
    background-color: white;
    width: 50vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column; /* Add this line to stack elements vertically */
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome-heading {
    font-size: 2em; /* Increase the font size */
    background: linear-gradient(to right, #7F58BB, #C343B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px; /* Add some space below the heading */
}

input {
    background-color: white;
    border: none;
    font-size: large ;
    padding-bottom: 3px;
    margin: 5% 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #7F58BB, #C343B4) 1;
    transition: border-bottom 0.1s ease-in;
    display: block;
    width: 100%;
}

input:focus {
    padding-bottom: 5px;
    outline: none;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #7F58BB, #C343B4) 1;
}

button {
    background: linear-gradient(to right, #7F58BB, #C343B4);
    color: white;
    display: inline-block;
    border-radius: 1px;
    display: block;
    width: 100%;
}
